body{
    background-color: #24353f;
}
section{
    background-color: #24353f;
    width:80%;
    box-shadow: -10px 0px 50px -10px #000;
}
h1{
    color: #17a2b8;
    font-size: 2.5rem;
}
.form-control{
    background-color: transparent;
}
a, p{
    color:#fff;
    font-size: 18px;
}
a:hover {
    color: #fff;
}
@media  screen and (min-width:992px) {
    section{
        width:60%;
    }
}